<!doctype html>
<html lang="en">
  <head>
    <title>Content Management System</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" href="img/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
    <link rel="manifest" href="img/site.webmanifest">
    <link rel="shortcut icon" href="img/favicon.ico">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sarabun">
    <link rel="stylesheet" href="/css/site.css">
  </head>
  <body>
    <section><h2>Content Management System</h2></section>
    <section>
      <form action="/cms" method="POST">
        <div class="form-field">
          <label for="footer">Footer</label><br/>
          <textarea id="footer" name="footer" style="width: 400px; height: 300px">{{ footer }}</textarea>
        </div>
        <div class="form-field">
          <input type="submit"/>
        </div>
      </form>
    </section>
    <section>
      <a href="/">Back to site</a>
    </section>
  </body>
</html>
