<!doctype html>
<html lang="en">
  <head>
    <title>Best Pet Sitters</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" href="img/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
    <link rel="manifest" href="img/site.webmanifest">
    <link rel="shortcut icon" href="img/favicon.ico">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sarabun">
    <link rel="stylesheet" href="/css/site.css">
  </head>
  <body>
    <header>
      <span>Call: (781) 555-0450</span>
      <span>Open daily 8am - 8pm</span>
    </header>
    <section>
      <img class="small-logo" src="/img/logo.png"/>
    </section>
    <hr/>
    <section>
      <h2>You're in our North region.<br/>Your pet care manager is Amy.</h2>
      <img src="/img/amy.png">
    </section>
    <section>
      <form>
        <div class="form-field">
          <label for="first_name">First Name</label><br/>
          <input id="first_name" type="text"/>
        </div>
        <div class="form-field">
          <label for="last_name">Last Name</label><br/>
          <input id="last_name" type="text"/>
        </div>
        <div class="form-field">
          <label for="address1">Address 1</label><br/>
          <input id="address1" type="text"/>
        </div>
        <div class="form-field">
          <label for="address2">Address 2</label><br/>
          <input id="address2" type="text"/>
        </div>
        <div class="form-field">
          <label for="zip">Postal Code</label><br/>
          <input id="zip" type="text"/>
        </div>
        <div class="form-field">
          <label for="phone">Phone Number</label><br/>
          <input id="phone" type="text"/>
        </div>
        <div class="form-field">
          <label for="special">Special Requests</label><br/>
          <input id="special" type="text"/>
        </div>
        <div class="form-field">
          <button>Submit</button>
        </div>
      </form>
    </section>
    <footer>
      {{{ footer }}}
    </footer>
  </body>
</html>
